.ico0 {
  position: absolute;
  left: 90%;
  top: 50;
}

.ico1 {
  position: absolute;
  left: 90%;
  top: 150;
}

.ico2 {
  position: absolute;
  left: 90%;
  top: 250;
}

.ico3 {
  position: absolute;
  left: 90%;
  top: 350;
}

.ico4 {
  position: absolute;
  left: 90%;
  top: 450;
}
