.mobileOnly {
  display: none;
}

.desktopOnly {
  display: block;
}

/* Phone screens ----------------------------------------------------------------------------- */
@media screen and (max-width: 480px) {
  .mobileOnly {
    display: block;
  }

  .desktopOnly {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  .subHeading {
    font-size: 2rem;
  }

  #websites,
  #games,
  #Opening,
  .main,
  .jumbotron {
    width: 100%;
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  .display-4 {
    font-size: 2rem;
  }

  //Font size for main fonts
  .lead,
  .col-lg {
    font-size: 1rem;
  }

  .flex-container {
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .divider .btn {
    font-size: 1.5rem;
    height: 100%;
  }

  //Links and close
  a,
  h2 a,
  .close {
    font-size: 2rem;
  }

  //Buttons for image previews
  .changePreview {
    width: 32px;
    height: 16px;
  }

  .changePreviewSelected,
  .changePreview:hover {
    width: 32px;
    height: 24px;
  }

  //Link buttons
  .siteLink,
  .repoLink {
    text-align: center;
    font-size: 2rem;
  }

  //Contact section
  #contactMe > a {
    font-size: 1rem;
  }
  //Email/LinkedIn/Github links
  #contactMe > a > svg {
    width: 3rem;
    height: 3rem;
    fill: currentcolor;
  }
  .smallInput,
  .largeInput {
    width: 90%;
  }

  .smallInput {
    font-size: 1.5rem;
  }

  .largeInput {
    font-size: 1rem;
  }

  //Size of a project window
  .row {
    width: 200%;
  }

  .project {
    margin-left: 7.5%;
  }

  //Bottom framework images
  .col-sm-1 {
    max-width: none;
  }

  .smallSpace {
    padding-bottom: 32px;
  }

  //Framework icons for when you click on the project button
  .smallFrameworkIcon {
    border: none;
    background: none;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 96px;
  }

  .leftIcon {
    left: 32px;
  }

  .rightIcon {
    left: 64px;
  }

  #webIcons {
    width: 100%;
  }
}

@media (max-width: 382px) {
  .bigSpace-MobileOnly {
    height: 150px;
  }
}

//Tablets -----------------------------------------------------
@media (max-width: 768px) {
  .flex-container {
    width: 100%;
  }

  .bigImg {
    width: 128px;
    height: 128px;
    border-radius: 4px;
  }

  .bigBtn {
    font-size: 1rem;
    width: 128px;
    height: 128px;
    bottom: 128px;
    border-radius: 4px;
  }
}
